{{>layout/header}}

<h1>상품 내용 수정</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="id">상품 번호</label>
                <input type="text" class="form-control" id="id" value="{{item.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{item.title}}">
            </div>
            <div class="form-group">
                <label for="author">작성자</label>
                <input type="text" class="form-control" id="author" value="{{item.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="category">카테고리</label>
                <input type="text" class="form-control" id="category" placeholder="카테고리를 입력하세요.">
            </div>
            <div class="form-group">
                <label for="content">설명</label>
                <textarea class="form-control" id="content">{{item.content}}</textarea>
            </div>
        </form>
        <a href="/" class="btn btn-secondary" role="button">취소</a>
        <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
    </div>
</div>

{{>layout/footer}}